In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
hello = tf.constant('Hello, TensorFlow!')

In [3]:
sess = tf.Session()

In [4]:
print(sess.run(hello))

b'Hello, TensorFlow!'

In [3]:
table1 = pd.DataFrame([{'name': 'A', 'value': 10},
                        {'name': 'B', 'value': 12},
                        {'name': 'C', 'value': 13}])
table2 = pd.DataFrame.from_dict({'name': ['A', 'B', 'C',
                                          'A', 'B', 'C',
                                          'A', 'B', 'C',
                                          'A', 'B', 'C',
                                          'A', 'B', 'C',
                                          'A', 'B', 'C',
                                          'A', 'B', 'C'],
                                 'value': [np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                           np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                           np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                           np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                           np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                          np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30),
                                          np.random.randint(0,20), np.random.randint(0,30), np.random.randint(0,30)]})

In [4]:
table2

   name  value
0     A     19
1     B      9
2     C     25
3     A     15
4     B     22
5     C     15
6     A     10
7     B     10
8     C     18
9     A      4
10    B     11
11    C      4
12    A     13
13    B     19
14    C     12
15    A      9
16    B      8
17    C      3
18    A      6
19    B      1
20    C      2

In [19]:
for name in table1:
    for value in table1[name]:
        if

    value
0      34
1      94
2       1
3      69
4      31
5      91
6      49
7      21
8      60
9      33
10     54
11     27
12     98
13     99
14     18
15     42
16     74
17     86
18     14
19     30
20     51
21     27
22     97
23     79
24      0
25     22
26     82
27     69
28     39
29     64
..    ...
70     65
71     74
72     39
73      1
74     54
75     64
76     47
77      7
78     52
79     65
80     56
81     11
82     96
83     44
84     45
85     10
86     97
87     61
88      1
89     97
90     57
91     29
92     42
93     44
94     20
95     98
96     46
97     86
98     78
99     42

[100 rows x 1 columns]

In [21]:
table1.index

RangeIndex(start=0, stop=3, step=1)